@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 10rem));
    }
}

.marquee {
    animation: marquee 18s linear infinite;
}
